html, body { 
  height: 100%;
}
h1 {
    margin-top: 8em;
}
h2,h3 {
    margin-top: 2em;
    padding-top: 2em;
}

.post-subtitle {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 3rem;
  color: #9a9a9a;
}

img[alt=small] { 
    width: 50%;
}
img[alt=medium] { 
    width: 75%;
}
img[alt=large] { 
    width: 100%;
}
em {
    font-size: .8em;
    display: block;
    margin-top: -12px;
    margin-bottom: 12px;
    font-style: normal;
    text-align: center;
}

.rouge-gutter { 
  background-color: #34332d;
}
.post-hr { 
  margin: 12em -4em; 
  height: 4px;
  background: #777;
}
.language-plaintext.highlighter-rouge { 
  padding: 2px 4px;
  margin: 0px 4px;
  border: 1px #ccc solid;
  border-radius: 3px;
  background-color: rgba(var(--sk_foreground_min,29,28,29),.04);
  color: #e01e5a;
  font-size: .9em;
}
.rouge-table { 
  display: flex; 
  overflow: scroll;
}
.toc { 
  position: sticky;
  align-self: flex-start;
  top: 240px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 220px;
  list-style: none;
  padding: 0 0 1em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9em;
  line-height: 1.8em;
}
.toc ul {
  list-style: none;
}
.toc a { 
  color: #333;
}
